@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 10%;

    --card: 0 0% 96%;
    --card-foreground: 0 0% 10%;

    --popover: 0 0% 96%;
    --popover-foreground: 0 0% 10%;

    --primary: 0 0% 20%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 90%;
    --secondary-foreground: 0 0% 10%;

    --muted: 0 0% 93%;
    --muted-foreground: 0 0% 45%;

    --accent: 0 0% 85%;
    --accent-foreground: 0 0% 10%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 80%;
    --input: 0 0% 90%;
    --ring: 0 0% 20%;

    --radius: 0.25rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-white text-gray-900;
    font-family: Arial, Helvetica, sans-serif;
  }

  h1,
  h2,
  h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
}
